<div class="navbar">
  <div><%= link_to "Mister Cocktails", cocktails_path, class: "navbar-link" %></div>
  <div class="new"><%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-link" %></div>
</div>
