<div class="navbar-black navbar-black-bottom">
  <div><%= link_to "Mister Cocktail", cocktails_path, class: "navbar-black-link" %></div>
  <div class="new"><%= link_to "Add a cocktail", new_cocktail_path, class: "navbar-black-link" %></div>
</div>
