<div class="banner-lg" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'bar.jpg' %>);">
  <div class="banner-content-lg">
    <h1>Mister Cocktail</h1>
    <p>Get inspired and create your own cocktail</p>
    <form action="search">
      <input type="text" name= "name" placeholder="Search by name..." class="form-control search-imput">
    </form>
  </div>
</div>
<div class="container-white">
  <div class="title">
    <h1 id="index">Mister Cocktails</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn-white" %>
  </div>
  <%= render "cards" %>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>
    <p>teste</p>

</div>

