// Specific CSS for your home-page
.container-white {
  background-color: #F4F4F4;
  margin: 0 auto;
  text-align: center;
  color: #566268;
}

h1 {
  padding: 70px 10px;
}

.title {
  padding: 60px;
}
