.btn-white {
  text-decoration: none;
  padding: 12px 22px;
  border: 1px solid #9F9CAC;
  border-radius: 4px;
  color: #9F9CAC;
  opacity: 0.8;
  background-color: white;
}

.btn-white:hover {
  text-decoration: none;
  opacity: 1;
}

.btn-green {
  text-decoration: none;
  padding: 12px 22px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  opacity: 0.8;
  background-color: #1ED760;
}

.btn-green:hover {
  text-decoration: none;
  opacity: 1;
}
